body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 12px;
}

.card {
  width: 300px;
  max-height: 600px;
  margin: auto;
  padding: 3px;
}

.header-container {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}

h3 {
  padding-top: 3px;
  float: left;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.toggle-wrapper {
  float: right;
}

.toggle-label {
  float: right;
  border-radius: 25px;
  padding: 3px;
  cursor: pointer;
  background-color: #80c75f;
}

#stop-button {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.toggle-button {
  vertical-align: middle;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background-color: black;
  margin-left: 0px;
  margin-right: 20px;
  display: inline-block;
}

#stop-button:checked + .toggle-button {
  margin-left: 20px;
  margin-right: 0px;
}

.error-table {
  width: 100%;
  padding-top: 10px;
}

table {
  padding: 5px;
  table-layout:fixed;
  text-align: left;
  width: 100%;
  visibility: visible;
  border-collapse: collapse;
  border: 1px solid rgba(128, 126, 122, 0.2);
}

.error-header,.url-header{
  background-color: #ea6153;
  color: #ffffff;
  font-weight: bold;
}

th,td {
  padding: 5px;
}

.url-header,.url-column {
  width: 65%;
}

.error-header,.error-column {
  width: 35%;
}

.error-column {
  background-color: rgba(0,0,0,.05);
}

.url-div,.error-div {
  text-overflow: inherit;
  white-space: nowrap;
  overflow: auto;
}
